body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #8E45AD;
  background: -webkit-linear-gradient(bottom right, #8E45AD, #2D3E50);
  background: -moz-linear-gradient(bottom right, #8E45AD, #2D3E50);
  background: linear-gradient(to top left, #8E45AD, #2D3E50);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
